.well.form
  = f.hidden_field :user_id, :value => current_user.id
  .span4
    = f.label "Alias"
    = f.text_field :label
    = f.label :photo, "Photo URL"
    = f.text_field :photo
  .span4
    = f.label :content
    = f.text_area :content, :style => 'width: 100%; height: 16em;'
  - if @bio.photo.present?
    .span3.pull-right
      %label Photo
      = image_tag @bio.photo, :style => 'width: 90%;', :class => 'framed'

  %br.clear
= f.submit "Save", :class => 'btn btn-primary'
= link_to "Cancel", :back, :class => 'btn'

- if @bio.persisted?
  .pull-right
    = link_to speaker_bio_path(current_user.slug, @bio), :method => :delete, :class => 'btn btn-danger', :confirm => 'Are you sure?' do
      %i.icon-trash
      Delete
