%a.pull-right.btn.btn-inverse{:href => "#{new_speaker_talk_path(current_user.slug)}", :style => 'margin-top: 1em;'}
  %i.icon-user
  Add a Talk

%h2.bordered
  Your Talks

- if @talks.count < 2

  .bubble
    %h2
      Speak Up!
    %p
      What are you passionate about? What learning experiences have you had that you would like to share with the world? You certainly have something to share with the world, so what will your next talk be about?
    .left_speech

- if @talks.count > 3
  .btn-group
    %button.btn.inactive
      %i.icon-th
    %button.btn.filter{:data => {:filter => 'mix'}}
      All
    %button.btn.filter{:data => {:filter => 'recent'}}
      Newest
    %button.btn.filter{:data => {:filter => 'updated'}}
      Updated
    %button.btn.filter{:data => {:filter => 'active'}}
      Active
    %button.btn.filter{:data => {:filter => 'archived'}}
      Archived
    %button.btn.filter{:data => {:filter => 'unsubmitted'}}
      Unsubmitted
    %button.btn.filter{:data => {:filter => 'submitted'}}
      Submitted

  %br.clear

#Grid
  .row-fluid{:style => "margin-top: 1em;"}
    %section
      - @talks.each do |talk|
        %div{:class => "#{(['talk', 'mix', 'span4', 'well', 'medium', 'single_spaced'] | talk.tags) * ' '}", :data => {:name => talk.title, :date => talk.updated_at.to_s(:concise)}}
          = formatted_talk(talk, speaker_talk_path(current_user.slug, talk))
          .controls.reveal-on-mouseover
            = link_to speaker_talk_path(current_user.slug, talk), :class => 'btn btn-mini' do
              %i.icon-eye-open
            = link_to edit_speaker_talk_path(current_user.slug, talk), :class => 'btn btn-mini' do
              %i.icon-edit
            = link_to "#", :class => 'btn btn-mini' do
              %i.icon-bullhorn

%br.clear

= content_for :javascript do
  $(function(){ $('#Grid').mixitup({showOnLoad: 'mix', sortOnLoad: 'data-name', multiFilter: false, filterLogic: 'and'}); });