- content_for(:title, @talk.title)

.row-fluid
  .span8
    = stat_block('Summary', @talk.abstracts.first && @talk.abstracts.first.summary || "None")
    = stat_block('Abstract', @talk.abstracts.first && @talk.abstracts.first.full_text || "None")
    = stat_block('Uploaded To', link_to(@talk.deck_location, @talk.deck_location)) if @talk.deck_location.present?
    = link_to edit_speaker_talk_path(current_user.slug, @talk.id), :class => 'btn' do
      %i.icon-bullhorn
      Submit This Talk!
    = link_to edit_speaker_talk_path(current_user.slug, @talk.id), :class => 'btn' do
      %i.icon-edit
      Edit
    = link_to "Back", :back, :class => 'btn'

    - if @talk.persisted?
      .pull-right
        = link_to speaker_talk_path(current_user.slug, @talk.id), :method => :delete, :class => 'btn btn-danger', :confirm => 'Are you sure?' do
          %i.icon-trash
  .span4.pull-right
    = stat_block('History', @talk.history.events * "<br />")

