- if current_user
  %ul.nav
    %li= link_to "Bios", speaker_bios_path
    %li= link_to "Talks", speaker_talks_path
    %li= link_to "Proposals", "#"
    %li= link_to "Conferences", "#"
    %li= link_to "Sign Out", sign_out_path
    %li= image_tag current_user.avatar, :class => 'avatar'
