.row-fluid
  .span12
    .bubble.span6
      %h2.inner_shadow
        Share Your Passion

      %p
        You're smart and well-spoken, and you're ready to get out there and share what you've learned with others in the community. Great!
      %p
        But it can be hard to keep track of all of your talks, proposals, and submissions. That's where Sprechen.Me comes in.
      %p
        Leave the organizing and tracking to us, so that you can focus on content and creativity.
      .left_speech

    - if current_user
      .span6
        .well
          %h2 Let's do stuff!
          %p
            Glad to have you here, #{current_user.first_name}. Check out your
            = link_to 'dashboard', dashboard_path(current_user)
            for your latest stats, or explore
            = link_to 'upcoming conferences', "#"
            that you may be interested in!
    - else
      .span6
        .well
          %h2
            Get started!
          %p
            Choose your sign in method:
          .sign_in_icon
            = link_to image_tag('/assets/icons/github_black.png'), 'auth/github'
            = link_to "GitHub", 'auth/github', :class => 'btn top-margin'
          .sign_in_icon
            = link_to image_tag('/assets/icons/twitter_black.png'), 'auth/twitter'
            = link_to "Twitter", 'auth/twitter', :class => 'btn top-margin'
          .sign_in_icon
            = link_to image_tag('/assets/icons/facebook_black.png'), 'auth/facebook'
            = link_to "Facebook", 'auth/facebook', :class => 'btn top-margin'
          %br.clear