- if current_user.just_getting_started?
  = render 'getting_started'
- elsif @dashboard.upcoming_conferences.empty?
  = render 'find_conferences'
- elsif @dashboard.submitted_talks.empty?
  = render 'submit_something'

.row-fluid
  .span12

    .span4
      %h2.bordered Calendar
      - if @dashboard.upcoming_conferences.empty?
        .well.single_spaced.short
          You have no upcoming conferences with open RFPs.
      - @dashboard.upcoming_conferences.each do |conference|
        .clickable.well.short.single_spaced{:data => {:url => '#foo'}}
          = formatted_conference(conference).html_safe
          .pull-right
            %i.icon-search
      %a.btn.btn-inverse.centered{:href => "#"}
        %i.icon-calendar
        Add a Conference

    .span4
      %h2.bordered Submitted
      - if @dashboard.submitted_talks.empty?
        .well.single_spaced.short
          You have no submitted proposals awaiting approval.
      - @dashboard.submitted_talks.each do |proposal|
        .clickable.well.short.single_spaced{:data => {:url => '#foo'}}
          = formatted_proposal(proposal).html_safe
          .pull-right
            %i.icon-search
      %a.btn.btn-inverse{:href => "#"}
        %i.icon-bullhorn
        Submit a Proposal

    .span4
      %h2.bordered Accepted
      - if @dashboard.accepted_talks.empty?
        .well.single_spaced.short
          You have no accepted proposals for upcoming conferences.
      - @dashboard.accepted_talks.each do |proposal|
        .clickable.well.short.single_spaced{:data => {:url => '#foo'}}
          = formatted_proposal(proposal).html_safe
          .pull-right
            %i.icon-search
      %a.btn.btn-inverse{:href => "#"}
        %i.icon-folder-open
        Review Proposals

