!!!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      = "Sprechen.me 💬 "
      = content_for?(:title) ? yield(:title) : ""
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body
    = render :partial => 'shared/nav'

    .container-fluid
      - if flash.present?
        .span12
          = render :partial => 'shared/flash', :object => flash
        %br.clear

      - if content_for?(:title)
        %h2.bordered= yield(:title)
      = yield

      %footer
        %p
          &copy 2012-#{Date.today.year}
          = link_to 'Corey Ehmke.', 'http://bantik.github.com'
          &bull;
          = link_to 'Contribute to this project on Github', 'https://github.com/Bantik/sprechen'
          &bull;
          = link_to 'GitTips appreciated!', 'https://www.gittip.com/Bantik/'

    = javascript_include_tag "application"

    :javascript
      $(function() {
        #{yield :javascript}
      });